<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <loggers>
        <!--
            level 指定日志级别，从低到高的优先级：
            TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF
            TRACE：追踪信息，一般用于调试
            DEBUG：调试信息
            INFO：普通信息
            WARN：警告信息
            ERROR：错误信息
            FATAL：致命信息
            OFF：关闭日志记录
        -->
        <root level="DEBUG">
            <appender-ref ref="spring6log"/>
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="log"/>
        </root>
    </loggers>

    <appenders>
        <!-- 输出日志信息到控制台 -->
        <console name="spring6log" target="SYSTEM_OUT">
            <!-- 控制日志输出的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-3level %logger{1024} - %msg%n"/>
        </console>

        <!-- 输出日志信息到文件 -->
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <!-- 按照时间滚动日志文件 -->
                <TimeBasedTriggeringPolicy/>
                <!-- 按照文件大小滚动日志文件 -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <!-- 保留 30 天的日志 -->
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- 文件会打印出所有信息，这个 log 每次运行程序会自动清空，由 append 属性决定 -->
        <File name="log" fileName="logs/test.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </appenders>
</configuration>